:root {
    box-sizing: border-box;
    font-size: 16px;
    --primary-color: #4ca5f6;
    --secondary--color: #F37c0e;
    --complementary-color: #F2516e ;
    color: white;
}

h2 {
    margin-top: 70px !important;
    color: white;
}

button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

section.two {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
   
}

section.four {
    background-color: var(--secondary--color);
    color: white;
}

section.six {
    background-color: var(--complementary-color);
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.container-fluid.carousel-bg {
    background-color: var(--primary-color)!important;
}